body {
    margin: 50px
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

button {
    font-size: larger;
}
.ramo {
    display: flex;
    justify-content: center;
    align-items: center;

}

.foglia {
    display: flex;
    border-width: 3px;
    background-color: rgb(10, 89, 10);


}
img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 20px;
    animation: rainbow 4s linear infinite;

}

@keyframes rainbow {
    50% {background-color: rgb(243, 65, 65)}
    100% {background-color: blue;}
    0% {background-color: rgb(235, 246, 16);}
}

img:hover {

    transform: scale(1.4);
}

.punta {
    width: 0px;
    border-right: 110px solid transparent;
    border-left: 110px solid transparent;
    border-bottom: 70px solid rgb(10, 89, 10);
    display: flex;
    justify-content: center;

}

.tronco {
    display: flex;
    flex-direction: column;
    align-items: center;
}

